/* nav */
.navbar {
  padding: 1rem 0;
}

.logo {
  font-family: "STIX Two Text", "Times New Roman", Times, serif;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  justify-content: end;
  gap: var(--gap-md)
}

.nav-link {
  color: white;
  font-weight: 500;
  font-size: large;
}

.nav-link:hover {
  text-decoration-thickness: 900;
}

.highlight {
  color: var(--secondary-color)
}

/* hero section */
#hero {
  margin-top: 0;
  height: 400px;
  background: linear-gradient(0.25turn, #413553cc, #d0b7e5c5), url('assets/noise.svg');

  p {
    font-size: large;
  }

  #blurb {
    max-width: 50%;
  }
}

/* about section */
#about {
  margin-left: var(--margin-lg);

  div {
    max-width: 48%;
  }
}

#skills {
  background: linear-gradient(00.25turn, #917da6da, #413553cc), url('assets/noise.svg');
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  padding-right: var(--padding-lg);
  box-sizing: border-box;
}

.pill-list {
  padding: 0;
  gap: var(--gap-sm);
  box-sizing: border-box;
}

.pill {
  list-style: none;
  color: var(--primary-bg-color);
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
}

.purple {
  background-color: var(--primary-color);
}

.blue {
  background-color: var(--secondary-color);
}

/* project section */
.project-card {
  position: relative;
  box-sizing: border-box;

  .project-img {
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 2px transparent;
  }

  .project-img:hover {
    border: solid 2px var(--primary-color);
    box-shadow: 3px 3px 8px var(--primary-color);
  }

  .project-links {
    box-sizing: border-box;
    position: absolute;
    bottom: 8px;
    right: 8px;

    a img {
      max-width: 35px;
      height: auto;
    }
  }
}

.row {
  margin-bottom: var(--margin-md);

  .row-item {
    width: 48%;
  }

  h3 {
    margin-top: 0;
  }
}

.reverse {
  flex-direction: row-reverse;
}

/* resume section */
iframe {
  width: 100%;
  max-width: 100%;
  height: 300px;
  box-sizing: border-box;
  border: solid 1px var(--primary-color);
  border-radius: 15px;
}

/* footer */
footer {
  background: linear-gradient(#413553cc, #917da6da);
  border-top-right-radius: 60%;
  border-top-left-radius: 60%;

  h2 {
    text-align: center;
  }

  form {
    max-width: 50%;

    label {
      visibility: hidden;
      display: block;
    }

    input, textarea {
      max-width: 60%;
      background-color: var(--primary-bg-color);
      border: none;
      border-radius: 10px;
      color: white;
      padding: var(--gap-sm);
    }
  }

  ul {
    list-style: none;
    
    li {
      padding: var(--gap-md);
    }
  }
}

.mx-lg {
  margin-left: var(--margin-lg);
  margin-right: var(--margin-lg);
}

.px-lg {
  padding-left: var(--padding-lg);
  padding-right: var(--padding-lg);
}

.flex-btwn {
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* responsive styles */
@media only screen and (max-width: 900px) {
  .row {
    flex-direction: column;
    justify-content: center;

    .row-item {
      width: 100%;
    }
  }

}