:root {
  max-width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  font-family: var(--primary-font-family);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;

  background-color: var(--primary-bg-color);
  color: var(--text-color);

  /* color palette */
  --primary-bg-color: #2a2137;
  --secondary-bg-color: #413553;
  --text-color: white;
  --text-hover-color: #e6e6e6;
  --primary-color: #d0b7e5;
  --primary-highlight-color: #e8d5f8;
  --secondary-color: #57e3ff;

  /* spacing */
  --gap-sm: 5px;
  --gap-md: 1rem;
  --margin-lg: 8rem;
  --margin-md: 4rem;
  --margin-sm: 2rem;
  --margin-xsm: 7px;
  --padding-lg: 8rem;
  --padding-sm: 2rem;
  --padding-xsm: 5px;

  /* font */
  --primary-font-family: "STIX Two Text", "Times New Roman", Times, serif;
  --secondary-font-family: "REM", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 900px) {
  :root {
    --gap-md: 1rem;
    --margin-lg: 4rem;
    --margin-md: 2rem;
    --margin-sm: 0.5rem;
    --padding-lg: 4rem;
  }
}

body {
  margin: 0;
}

a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: inherit;
  position: relative;
}

a:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
label,
input,
textarea,
button {
  font-family: var(--secondary-font-family);
  font-optical-sizing: auto;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

section,
footer {
  margin-top: var(--margin-md);
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

hr {
  width: 3px;
  background-color: white;
  border: none;
  border-radius: 5px;
}
