:root {
  font-family: "STIX Two Text", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color palette */
  --primary-bg-color: #2A2137;
  --secondary-bg-color: #413553;
  --text-color: white;
  --primary-color: #D0B7E5;
  --secondary-color: #57E3FF;

  /* spacing */
  --gap-default: 3rem;
  --gap-sm: 5px;
  --gap-med: 1rem;
}

body {
  width: 100%;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 700;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1, h2, h3, a {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  text-align: left;
}

h1 {
  font-weight: 700;
}

h2{
  font-weight: 500;
}

section, footer {
  margin-top: var(--gap-default);
}